blue = #001436
bblue= #259dff
lblue = #a2b5cb
yellow = #ffdf85
orange = #fc8f46
red = #a63e1a
grey = #666
lgrey = #999
black = #000

font-size = 14px

font = font-size 'Garaamond', serif

clearfix()
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

 box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

body
  font font
  letter-spacing 1px
  line-height 120%
  color: black
  img
    max-width: 100%
a
  color: grey

header#menubar
  font 100% 'Helvetica', sans-serif  
  position fixed
  top 0
  left 0

  overflow-x: hidden;
  overflow-y: hidden;
  white-space nowrap
  
  display block
  height 50px
  line-height 50px
  width 100%
  z-index 100
  padding 0 1px

  background: rgba(255,255,255,1)  
  border-bottom 1px solid #ddd;
  box-shadow 0 0 4px #eee;

#logo
  float left
  z-index 100
  width 200px
  height 50px
  display inline-block
  margin 0 60px
  img
    vertical-align middle

.inner
  margin 1em 1em

nav
  overflow-x: hidden;
  overflow-y: hidden;
  white-space nowrap
  display inline-block
  height 50px
  z-index: 100;
  
    
nav a
  vertical-align: middle
  font-size: 12px
  color grey
  &:hover
    text-decoration none
  margin: 0 5px;
  padding-right: 15px;
  border-right: 1px dotted #eee;

nav a:last-child {
  padding-right 0
  border-right: none;
}

nav a.active {
}

#social
  height 21px
  line-height 21px
  margin 0 1.2em
  display inline-block
  a
    display inline-block
    vertical-align middle
  img
    vertical-align middle
    height 21px
    width 21px
    margin 5px

.post header
  h2
    font 100% 'Helvetica', sans-serif  
    color blue
    height 30px
    line-height 30px
    border-bottom solid 1px
    border-color orange
    margin-bottom 1em
    vertical-align middle


h2, h3
    font 100% 'Helvetica', sans-serif  
    color blue
    height 50px
    line-height 50px
    border-bottom solid 1px
    border-color orange
    vertical-align middle
    margin 20px 0 1em 0

p
  width 67%
  margin 0 auto 0 0

#content
  display block
  max-width 1440px
  margin 0 auto



.imgcontainer
  position relative
  padding-bottom 56.25%
  overflow hidden
  img
    position absolute
    top 0
    left 0
    width 100%
    height auto

.container
  width 80%
  margin 0 auto 100px

article.post
  padding 1em 0
  margin 1em 0 1em
  display: block



.photoset
  display inline-block
  text-align:left
  height 100px
  overflow hidden
  margin 10px 0
  max-width 68%

.photoset a
  text-decoration: none

.photoset a img
  height 100px
  margin 0 1em
  &:first-child
    margin-left 0

  &:last-child
    margin-right 0

.team
  article
    margin 2em 0
  p
    float left
  div
    margin -2.5em 30px
    float right
    height 197px
    width 148


div.title
  font 17pt 'Helvetica', sans-serif  
  height 50px
  margin-top 0
  margin-bottom 2em
  vertical-align middle
  display block
  width 100%
  clear both
  position relative

  hr
    margin 0
    border 0
    background-color lgrey
    height 1px

  span
    margin 10%
    color orange
    line-height 50px
    vertical-align middle

#slides
  display none

  a img
    max-width 100%
    height auto

.partner
  text-align center
  border-bottom 1px solid
  border-color black
  height 160px
  font 17pt 'Helvetica', sans-serif  
  font-weight bold
  width 100%
  img
    text-align center
    max-height 100px
    max-width 200px
    margin auto 0
    vertical-align: middle

.partners
  margin 100px 0
  width 100%
  color black
  tr:last-child 
    border-bottom none
  .name
    text-align left
    vertical-align middle
    width 60%
    line-height 160px
  .logo
    display inline-block
    width 100%
    line-height 160px
    vertical-align middle
    text-align center
    float right
  p
    margin 0
    height 100%
    display inline


#duo
  #duoimg
    margin-bottom 2em



#contact
  .container
    height 950px
    div
      text-align center
      margin 20px 0


/* Photo Boxes */

.img-full
  width 100%
  margin 20px 0
  img
    width 100%

.img-dh
  clear both
  float right
  width 550px
  margin 2px 0 20px 10px
  img
    //height 150px
    width 250px
    margin 0 10px

.img-dv
  float right
  width 270px
  margin 20px 33% 20px 10px
  img
    //height 150px
    width 250px
    margin 10px

.img-23
  clear both
  float right
  margin 20px 0 20px 10px
  img
    height 300px





