blue = #344d6b
lblue = #a7c7d4
yellow = #fcdc8a
orange = #e89259
red = #a63e1a
grey = #666
lgrey = #999

font-size = 12px

font = font-size "Hiragino Kaku Gothic Pro W3", 'Helvetica Neue', Helvetica, Arial, sans-serif

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

 box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

body
  font font
  letter-spacing 1px
  line-height 120%
  color: blue
  
  
a
  color: orange

header#menubar
  z-index 100
  width 100%
  //min-width 950px
  position fixed
  height 50px
  display block
  background: rgba(255,255,255,1)  
  top 0
  left 0
  border-bottom 1px solid #ddd;
  box-shadow 0 0 4px #eee;

#logo
  z-index 100
  width 200px
  height 20px
  position fixed
  display block
  top 0px
  left 15px
  padding 15px 25px 5px
  border-left none

.inner
  margin 1em 1em

nav
  display block
  margin-left 500px
  min-width 500px
  
    
nav a
  color grey
  &:hover
    text-decoration none

h2
  font-color #000
  color orange

p
  width 67%
  margin 0 auto 0 0

#content
  display block
  max-width 1440px
  margin 0 auto


.imgcontainer
  position relative
  padding-bottom 56.25%
  overflow hidden
  img
    position absolute
    top 0
    left 0
    max-width 100%
    height auto

:target
  padding-top 50px

.container
  width 80%
  margin 0 auto
  min-width 850px

article.post
  padding 1em
  margin 1em 0 1em

.photoset
  oveflow scroll
  margin 10px 0
  background: #ddd
  padding: 8px
  border-radius(5px)
  display inline-block

.photoset a
  width 100px
  height 100px
  text-decoration: none

.photoset a img
  margin 5px
  width 100px
  height 100px

.team
  article
    margin 2em 0
  p
    float left
  div
    margin -2.5em 30px
    float right
    height 197px
    width 148

div.title
  vertical-align middle
  height 2em
  margin-bottom 2em
  padding 20px 0
  display block
  width 100%
  clear both
  font-size 40pt

  hr.left
    border 0
    color red
    background-color red
    height 2px
    float left
    width 10%
    display inline-block

  span
    color lgrey
    float left
    margin .3em 1em
    display inline-block

  hr.right
    border 0
    color red
    background-color red
    height 2px
    overflow hidden
    display block

#slides
  //position relative
  //height 0
  //overflow hidden
  display none
  //padding-bottom 56.25%

  a img
    //position absolute
    //top 0
    //left 0
    max-width 100%
    height auto


