blue = #344d6b
lblue = #a7c7d4
yellow = #fcdc8a
orange = #e89259
red = #a63e1a

font-size = 12px

font = font-size "Hiragino Kaku Gothic Pro W3", 'Helvetica Neue', Helvetica, Arial, sans-serif

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

 box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

body
  font font
  letter-spacing 1px
  line-height 120%
  color: blue
  
  
a
  color: orange

header#menubar
  z-index 100
  width 100%
  min-width 850px
  position fixed
  height 50px
  display block
  background: rgba(255,255,255,1)  
  top 0
  left 0
  border-bottom 1px solid #ddd;
  box-shadow 0 0 4px #eee;

#logo
  position fixed
  top 0px
  left 15px
  padding 15px 25px 5px
  border-left none

.inner
  margin 1em 1em

nav
  margin-left 250px
  min-width 500
  
    
nav a
  color #7B838A

  &:hover
    text-decoration none

h2
  font-color #000
  color orange

p
  width 67%
  margin 0 auto 0 0

#content
  display block
  max-width 1440px
  margin 0 auto

.newsection img
  width 100%

:target
  padding-top 50px

.container
  width 80%
  margin 0 auto
  min-width 850px

article.post
  padding 1em
  margin 1em 0 1em

.photoset
  oveflow scroll
  margin 10px 0
  background: #ddd
  padding: 8px
  border-radius(5px)
  height: 100px
  display inline-block

.photoset a
  width 100px
  text-decoration: none

.photoset a img
  margin 5px
  width 100px

div.title
  display block
  width 100%
  clear both

  hr.left
    float left
    width 10%
    display inline-block

  span
    float left
    margin 0 2em
    display inline-block

  hr.right
    width 80%
    float left
    display inline-block
    clear right

